/* main site body
------------------------------------------------------------
*/

html,
body {
  /* height: 100%; */
  /* extends the divs down to the bottom of the page */
  margin: 0;
  background-color: whitesmoke;
}

/* font faces
------------------------------------------------------------
*/

@font-face {
  font-family: roboto;
  src: url(fonts/roboto.ttf);
}

@font-face {
  font-family: roboto;
  src: url(fonts/roboto-b.ttf);
  font-weight: bold;
}

@font-face {
  font-family: roboto;
  src: url(fonts/roboto-i.ttf);
  font-style: italic;
}

@font-face {
  font-family: roboto;
  src: url(fonts/roboto-z.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Consolas;
  src: url(fonts/consolas.ttf);
}

@font-face {
  font-family: Consolas;
  src: url(fonts/consolas-b.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Consolas;
  src: url(fonts/consolas-i.ttf);
  font-style: italic;
}

@font-face {
  font-family: Consolas;
  src: url(fonts/consolas-z.ttf);
  font-weight: bold;
  font-style: italic;
}

/* sidebar
------------------------------------------------------------
*/

.sidebar {
  /*background-color: #212329; fuck this color lmao*/
  background-color: #1c1c1c;
  color: white;
  box-shadow: 0px 0px 8px 5px #000;
  overflow: auto;
  color-scheme: dark;
  font-family: roboto, sans-serif;
  position: fixed;
  /* Radu: fixes the sidebar to the left of the browser window
    independent from scrolling */
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
}

.sidebarlogo {
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homepages {
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

.homepages a {
  padding: 4px;
}

.sidebar hr {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  /* scale the separator */
}

.sidebartext-bold {
  padding-left: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0px;
  /* bold text, category titles */
}

.sidebartext {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin: 0px;
  font-size: 13px;
  /* normal sidebar text */
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* main area
------------------------------------------------------------
*/

.main {
  background-color: whitesmoke;
  margin-left: 200px;
}

.bannerimage {
  background-image: url(../sunsetie.jpg);
  background-image: linear-gradient(to bottom, transparent 97%, whitesmoke 100%),
    url(../sunset.jpg);
  background-position: 100% 65%;
  background-size: cover;
  height: 350px;
  /* will not work properly in ie below 10, warning appended */
}

.homepage-title {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  margin: 0px;
  padding-top: 280px;
}

.maincontainer {
  padding-left: 80px;
  padding-right: 80px;
  height: 100%;
  /* overflow: auto; */
  /* Radu: now the content can have any height 
    and the main page will scroll just fine */
}

.maintext {
  font-family: roboto, Tahoma;
  font-size: 14px;
}

.maintext-bold {
  font-family: roboto, Tahoma;
  font-size: 14px;
  font-weight: bold;
}

.maintext-italic {
  font-family: roboto, Tahoma;
  font-size: 14px;
  font-style: italic;
}

.maintext-title {
  font-family: roboto, Tahoma;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.main a {
  text-decoration: none;
  color: darkred;
}

.main a:hover {
  text-decoration: underline;
}

.link-italic {
  text-decoration: none;
  color: darkred;
  font-style: italic;
}

hr {
  border: none;
  border-top: 1px solid dimgray;
}

.codeblock {
  background-color: lightgray;
  overflow: auto;
  border-radius: 4px;
  padding: 10px;
}

.codeblock pre {
  margin: 0px;
  font-family: Consolas;
  font-size: 13px;
  /* get rid of empty lines on start and finish */
}

.thumbnail {
  max-width: 500px;
  border-radius: 4px;
  border: 3px solid lightgray;
}

/* Tables
------------------------------------------------------------
*/
table {
  font-family: roboto, Tahoma;
  font-size: 13px;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid gray;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: lightgray;
}
